* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000;
}

.nav {
    height: 45px;
    padding: 1rem;

    background-color: #F4F3EA;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.nav-right-items {
    
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    /* border: 1px solid black; */
}

.nav-item {
    margin-left: 10px;
}
.nav-title {
    color: black;
    font-weight: bold;
    font-size: 20px;

}
/* <- 여기서부터 메인 내용 관련 css ->*/


.main-block{
    border: 2px solid #ccc;
   
    margin: 3% 15% 10%;

}
.main-content{
   
    border-bottom: black 1px solid;
}
.main-title{

    margin: 50px;
    display: block;
}

.write-index{
    width: 150px;
}

.write-date{
  display: flex;
  flex-direction: column;
}
.write-data{
    display: flex;
}
.write-index{
    width: 10%;
}
.write-content{
    width: 80%;
}
.write-border{
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.content-image{
  text-align: center;
}
#content-image{
  width: 20%;
  height: 15%;
  object-fit: contain;
}
.content{
    margin: 50px;
    display: block;
}

/* 댓글 관련 쪽 css*/

.bottom-comment{
    width: 100%;
    height: auto;
    border-top: 1px solid #ccc;
    
}

.comment-head{
    border-bottom: 1px solid #ccc;
    display: flex;
}
.comment-head>div{
    margin: 5px;
    padding: 5px;
}

.comment{
    background: #ccc;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.comment>div{
    padding: 5px;
}
.comment-time{
    display: flex;
    flex-direction: row;
}
.comment-time>div{
  margin-right: 5px;
}
.setting-image{
    background: #ccc;
    width: 20px;
    height: 20px;
}


.bottom-function{
    margin-top: 20px;
    float: right;
}
.bottom-function-update,
.bottom-function-delete{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}



