* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000;
}

.nav {
    height: 45px;
    padding: 1rem;

    background-color: #F4F3EA;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.nav-right-items {
    
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    /* border: 1px solid black; */
}

.nav-item {
    margin-left: 10px;
}
.nav-title {
    color: black;
    font-weight: bold;
    font-size: 20px;

}
/* <- 여기서부터 메인 내용 관련 css ->*/


.main-block{
    border: 2px solid #ccc;
   
    margin: 3% 15% 10%;

}
.main-content{
   
    border-bottom: black 1px solid;
}
.main-title{

    margin: 50px;
    display: block;
}

.write-index{
    width: 150px;
}

.write-date{
  display: flex;
  flex-direction: column;
}
.write-data{
    display: flex;
}
.write-index{
    width: 10%;
}
.write-content{
    width: 80%;
}
.write-border{
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.content-image{
  text-align: center;
}
#content-image{
  width: 30%;
 
  object-fit: contain;
}
.content{
    margin: 50px;
    display: block;
}

/* 댓글 관련 쪽 css*/

/*  댓글 좋아요, 조회수,  */
.bottom-comment{
    width: 100%;
    height: auto;
    border-top: 1px solid #ccc;
    
}

.comment-head{
    border-bottom: 1px solid #ccc;
    display: flex;
}
.comment-head>div{
    margin: 5px;
    padding: 5px;
}

/* 댓글 관련 css  */
.comment{
   
    margin: 5px;
    padding: 5px;
   
}
.reply-item{
    border-bottom: 1px solid gray;
}
.comment>div{
    padding: 5px;
}
.comment-content{
    border: none;
    width: 100%;
    height: 100px;
    margin: 20px 5px 20px;
}
.comment-id{
    font-weight: 500;
    font-size: 15px;
}

.comment-content-update{
    display: none;
    margin: 20px 5px 20px;
    width: 90%;
}
.comment-update-button{
   
    
    border: 1px solid black;
    background: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin: 20px 5px 20px;
    cursor: pointer;
    display: none;
    
}
.hidden-comment{
    display: flex;
    flex-direction: row;
}
.comment-time{
    display: flex;
    flex-direction: row;
}
.comment-time .right-item{
  
    display: flex;
   margin-left: auto;
}
.right-item>div{
    margin: 5px;
}
.comment-time>div{
    color: #ccc;
  margin-right: 5px;
  font-size: 15px;
}
.comment-update,
.comment-delete{
    cursor: pointer;
}

#replyForm{
    padding: 30px;
    display: flex;
    flex-direction: row;
}

/* 댓글쓰는곳 */
.comment-textarea{
    
    width: 90%;
    border: 1px solid #D6D6D6; 
    border-radius: 4px;
    height: 100px;
    
}
.comment-plus-button{
    border: 1px solid black;
    background: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100px;
}


.setting-image{
    background: #ccc;
    width: 20px;
    height: 20px;
}


.bottom-function{
    margin-top: 20px;
    float: right;
}
.bottom-function-update,
.bottom-function-delete{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}



