* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
}

a{
    text-decoration: none;
}

.nav {
    height: 45px;
    padding: 1rem;

    background-color: #F4F3EA;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.nav-right-items {

    justify-content: space-between;
    display: flex;
    margin-left: auto;
    /* border: 1px solid black; */
}

.nav-item {
    margin-left: 10px;
}
.nav-title {
    color: black;
    font-weight: bold;
    font-size: 20px;

}
/* <- 여기까지 상단 nav 내용 관련 css ->*/

/* <- 여기서부터 메인 내용 관련 css ->*/

.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3% 15% 10%;
    padding: 10px;
}
.main-title {
    border-bottom: 1px solid black;

}
.board-category {

    font-weight: bold;
    font-size: 20px;

}
.write-content {
    float: right;
}
.content-title {
   
    margin-top: 20px;
    width: 99.5%;
    height: 30px;
}
.notice {

    width: 100%;
    height: 100px;
    border: 1px black solid;
    margin-top: 30px;
    background: #ccc;
}
.write-item{
    width: 100%;
    height: 50px;
    border: 1px #ccc solid;
    margin-top: 30px;
}

.sticky-box{
  
    height: auto;
}
#editor{
    width: 100%;
    border: 1px solid #D6D6D6; 
    border-radius: 4px;
    height: auto;
    margin-top: 30px;

}
#editor img{
    max-width: 100%;
}
.check{
    font-size: 100px;
}
.write-content{
    border : black solid 1px;
    color: dodgerblue;
    cursor: pointer;
}
.img-reset{
    background: #ccc;
    margin-left: 32px;
    border: 1px black solid;
    cursor: pointer;
}
.updateImage{
   text-align: lefts;
}
.imageRoutePreview{
    margin: 20px;
    width: 20%;
}
.upload-image{
    margin: 20px;
    width: 20%;
    height: 150px;
    object-fit: contain;
}
.image-existing{
  
    border-top: black solid 3px;
}
.deleteButton{
    cursor: pointer;
}
/* .img-upload-new{
    border: black 2px solid;
} */
.deleteButton{
    font-size: 30px;
}
.image-plus{
    border-top: black solid 3px;
}
